# Data Collection and Formatting

In [1]:
import pandas as pd
import tarfile
from bs4 import BeautifulSoup
import requests
import re
import matplotlib.pyplot as plt
import seaborn as sns

%run -i "functions/unzip.py"
%run -i "functions/scrape_platforms.py"
%run -i "functions/scrape_SotU.py"

# Text Data
### Political Platforms

In [ ]:
years = ['1972', '1976', '1980', '1984', '1988', '1992', '1996', 
         '2000', '2008', '2012', '2016']
platforms = scrape_platforms(years)
platforms.head()

### State of the Union Addresses

In [ ]:
speeches = scrape_SotU()

### Debates

In [ ]:
url = 'https://www.presidency.ucsb.edu/documents/presidential-debate-the-university-nevada-las-vegas'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
debate = soup.find_all('p')
for deb in debate:
    print(deb.text)

# Survey Data
### Convert Data to Dataframes
###### Weights
Based on the sample weights provided by the General Social Survey, it appears that some samples were significantly over and underrepresented. In order to account for this weights will be applied to this analysis. In order to maintain a reasonable size of the data rather than achieving the right proportions by using the complete weights, I will use the rounded values to the nearest tenth.

In [2]:
weights = unzip('Weights')

In [3]:
weights.head()

   year  id  Weight variable
0  1972   0           0.4446
1  1972   1           0.8893
2  1972   2           0.8893
3  1972   3           0.8893
4  1972   4           0.8893

In [4]:
weights['Weight variable'].describe()

count    64814.000000
mean         1.000015
std          0.468172
min          0.391825
25%          0.550100
50%          0.970900
75%          1.098500
max          8.739876
Name: Weight variable, dtype: float64

In [5]:
def weight(df):
    return df.loc[df.index.repeat(round(weights['Weight variable']*10, 0))].reset_index()

###### Abortion Opinions
To reduce dimensionality in the data, I will combine the reasons for abortion into three categories: health, economics, and right-to-choose. There will also be a category for abolishing legal abortion.

In [6]:
abortion = unzip('Abortion')

In [7]:
abortion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64814 entries, 0 to 64813
Data columns (total 9 columns):
year                                      64814 non-null int64
id                                        64814 non-null int32
Strong chance of serious defect           64814 non-null object
Married--wants no more children           64814 non-null object
Woman's health seriously endangered       64814 non-null object
Low income--cant afford more children     64814 non-null object
Pregnant as result of rape                64814 non-null object
Not married                               64814 non-null object
Abortion if woman wants for any reason    64814 non-null object
dtypes: int32(1), int64(1), object(7)
memory usage: 4.2+ MB

In [8]:
abortion.loc[(abortion['Strong chance of serious defect'] == 'Yes')|
             (abortion['Married--wants no more children'] == 'Yes')|
             (abortion["Woman's health seriously endangered"] == 'Yes')|
             (abortion["Low income--cant afford more children"] == 'Yes')|
             (abortion["Pregnant as result of rape"] == 'Yes')|
             (abortion['Not married']=='Yes'), 'abortion'] = 'conditional'

abortion.loc[(abortion['Strong chance of serious defect'] == 'Yes')&
             (abortion['Married--wants no more children'] == 'Yes')&
             (abortion["Woman's health seriously endangered"] == 'Yes')&
             (abortion["Low income--cant afford more children"] == 'Yes')&
             (abortion["Pregnant as result of rape"] == 'Yes')&
             (abortion['Not married']=='Yes'), 'abortion'] = 'unrestricted'

abortion.loc[abortion['Abortion if woman wants for any reason']== 'Yes', 'abortion']= 'unrestricted'
abortion['abortion'].fillna('never', inplace = True)

In [9]:
abortion.head()

,year,id,Strong chance of serious defect,Married--wants no more children,Woman's health seriously endangered,Low income--cant afford more children,Pregnant as result of rape,Not married,Abortion if woman wants for any reason,abortion
0,1972,0,Yes,Yes,Yes,Yes,Yes,Yes,Not applicable,unrestricted
1,1972,1,Yes,No,Yes,No,Yes,Yes,Not applicable,conditional
2,1972,2,Yes,Yes,Yes,Yes,Yes,Yes,Not applicable,unrestricted
3,1972,3,No,No,Yes,Yes,Yes,Yes,Not applicable,conditional
4,1972,4,Yes,Yes,Yes,Yes,Yes,Yes,Not applicable,unrestricted

In [10]:
abortion['abortion'].value_counts(dropna=False)

never           23338
conditional     22653
unrestricted    18823
Name: abortion, dtype: int64

In [11]:
abortion = abortion[['year', 'id', 'abortion']]

In [12]:
abortion = weight(abortion)

In [13]:
abortion.to_csv('data/cleaned_and_weighted/abortion.csv')

###### Family/ SES Background

In [14]:
background = unzip('Background')

In [15]:
background.columns

Index(['year',
       'Father's occupational prestige score using threshold method (2010)',
       'Rs living standard compared to parents', 'Religion in which raised',
       'How many grandparents born outside u.s.',
       'Were rs parents born in this country', 'Was r born in this country',
       'Mothers highest degree', 'Fathers highest degree', 'id',
       'Mother's occupational prestige score using threshold method (2010)'],
      dtype='object')

In [16]:
for col in background.columns:
    print(background[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


0     13710
58     6953
29     2876
18     2458
50     1724
      ...
74       24
7        21
77       12
67       10
5         5
Name: Father's occupational prestige score using threshold method (2010), Length: 93, dtype: int64


Not applicable     44520
Much better         6446
Somewhat better     6005
About the same      4448
Somewhat worse      2269
Much worse           790
Don't know           307
No answer             29
Name: Rs living standard compared to parents, dtype: int64


Protestant                 37042
Catholic                   17974
None                        3421
Not applicable              3131
Jewish                      1266
Other                        648
Christian                    417
No answer                    249
Moslem/islam                 161
Orthodox-christian           138
Buddhism                     128
Hinduism                     114
Don't know                    58
Inter-nondenominational       31
Native american               24
Other eastern                 12
Name: Religion in which raised, dtype: int64


All in u.s        31367
Not applicable    11808
4                 10522
2                  5819
1                  3353
3                  1250
Don't know          468
No answer           227
Name: How many grandparents born outside u.s., dtype: int64


Both in u.s         45148
Not applicable       9108
Neither in u.s       7116
Mother only          1745
Father only          1259
No answer             210
Mother; fa. dk        110
Dk for both            53
Not mother;fa.dk       36
Not father;mo.dk       16
Father; mo.dk          13
Name: Were rs parents born in this country, dtype: int64


Yes               50441
Not applicable     9108
No                 5110
No answer           147
Don't know            8
Name: Was r born in this country, dtype: int64


High school       25217
Lt high school    23662
Bachelor           4167
Not applicable     4039
Don't know         3469
Junior college     1911
Graduate           1662
No answer           687
Name: Mothers highest degree, dtype: int64


Lt high school    23011
High school       17532
Not applicable    11558
Bachelor           4340
Don't know         3910
Graduate           2902
Junior college      965
No answer           596
Name: Fathers highest degree, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


0     43733
55     1806
14     1237
18     1179
16     1155
      ...
52        4
77        3
41        2
31        2
45        1
Name: Mother's occupational prestige score using threshold method (2010), Length: 93, dtype: int64

In [17]:
background.rename(columns = {"Father's occupational prestige score using threshold method (2010)": 'father_prestige',
                             "Mother's occupational prestige score using threshold method (2010)": 'mother_prestige',
                             'Religion in which raised': 'raised_relig', 
                             'How many grandparents born outside u.s.': 'immigrant_gpar', 
                             'Were rs parents born in this country': 'immigrant_par', 
                             'Was r born in this country': 'immigrant'}, inplace=True)

I will encode the immigration status of parents so that the number of grandparents and parents born outside of the country are counted. Parents born in the U.S will be coded as 0s. Because this data will likely not be used for modeling, I will keep not applicable values as they are.

In [18]:
background.loc[(background['raised_relig']=='Not applicable')|
               (background['raised_relig']=='No answer')|
               (background['raised_relig']=="Don't know"), 'raised_relig']= 'Other'
background.loc[(background['immigrant_gpar']== 'All in u.s'), 'immigrant_gpar']= 0
background.loc[(background['immigrant_par']=='Both in u.s')|
               (background['immigrant_par']=='Mother; fa. dk')|
               (background['immigrant_par']=='Father; mo.dk'), 'immigrant_par']= 0
background.loc[(background['immigrant_par']=='Neither in u.s')|
               (background['immigrant_par']=='Not mother;fa.dk')|
               (background['immigrant_par']=='Not father;mo.dk'), 'immigrant_par']= 2
background.loc[(background['immigrant_par']=='Mother only')|
               (background['immigrant_par']=='Father only'), 'immigrant_par']= 1
background.loc[(background['immigrant']=='Yes'), 'immigrant']= 'no'
background.loc[(background['immigrant']=='No'), 'immigrant']= 'yes'
background.loc[(background['immigrant']=='Not applicable')|
               (background['immigrant']=='No answer')|
               (background['immigrant']=="Don't know"), 'immigrant']= 'n/a'

The 'Rs living standard compared to parents' is messy and highly incomplete, so I will drop it for this analysis. In addition, after consideration, parental education levels are more appropriately placed in the education table so they will also be dropped from this table.

In [19]:
background.drop(['Rs living standard compared to parents', 
                 'Fathers highest degree', 'Mothers highest degree'], axis= 1, inplace= True)

In [20]:
background = weight(background)

In [21]:
background.to_csv('data/cleaned_and_weighted/background.csv')

##### Criminal Justice Attitudes

In [22]:
crim_justice = unzip('Criminal_Justice')
crim_justice.columns

Index(['year', 'Citizen attacking policeman with fists',
       'Citizen attempting to escape custody',
       'Citizen questioned as murder suspect',
       'Citizen said vulgar or obscene things',
       'Ever approve of police striking citizen',
       'Should marijuana be made legal', 'Courts dealing with criminals',
       'Favor or oppose death penalty for murder', 'id',
       'Afraid to walk at night in neighborhood'],
      dtype='object')

In [23]:
crim_justice[crim_justice['Ever approve of police striking citizen']=='Yes']['Citizen attacking policeman with fists'].value_counts()

Yes           25692
No              799
Don't know       99
No answer        18
Name: Citizen attacking policeman with fists, dtype: int64

The police striking citizens columns lack information on how the police response is defined, and will likely be difficult to interpret given the nature of this analysis. Unfortunately I will have to drop them.

In [24]:
crim_justice.drop(['Citizen attacking policeman with fists', 
                   'Citizen attempting to escape custody', 
                   'Citizen questioned as murder suspect', 
                   'Citizen said vulgar or obscene things', 
                   'Ever approve of police striking citizen'], axis = 1, inplace = True)

In [25]:
crim_justice.rename(columns = {'Should marijuana be made legal': 'legalize_marijuana',
                             'Courts dealing with criminals': 'sentencing',
                             'Favor or oppose death penalty for murder': 'death_penalty', 
                             'Afraid to walk at night in neighborhood': 'fear'}, inplace=True)

In [26]:
crim_justice = weight(crim_justice)

In [27]:
crim_justice.to_csv('data/cleaned_and_weighted/crim_justice.csv')

##### Education

In [28]:
education = unzip('Education')
education.columns

Index(['year', 'id', 'Highest year of school completed',
       'Highest year school completed, father',
       'Highest year school completed, mother', 'Rs highest degree',
       'Fathers highest degree', 'Mothers highest degree',
       'The field of degree r earned'],
      dtype='object')

In [29]:
for col in education.columns:
    print(education[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


12            19663
16             8355
14             7160
13             5360
11             3743
15             2910
10             2880
8              2724
18             2384
9              2083
17             1967
20             1439
19              920
7               879
6               828
5               402
4               319
3               257
0               165
2               152
No answer       104
Don't know       73
1                47
Name: Highest year of school completed, dtype: int64


12                13242
Not applicable    11562
Don't know         7071
8                  6431
16                 4434
14                 2777
6                  2477
10                 2076
9                  1510
11                 1423
13                 1336
0                  1284
3                  1281
7                  1239
18                 1150
4                  1129
5                  1086
20                 1066
15                  583
17                  455
2                   381
19                  351
No answer           344
1                   126
Name: Highest year school completed, father, dtype: int64


12                19896
8                  6619
Don't know         6435
16                 4239
Not applicable     4048
14                 3920
10                 2873
6                  2174
11                 2165
13                 1835
9                  1789
0                  1473
7                  1207
5                   959
18                  931
4                   888
3                   844
15                  818
No answer           461
20                  381
17                  318
2                   308
19                  139
1                    94
Name: Highest year school completed, mother, dtype: int64


High school       33195
Lt high school    13587
Bachelor           9475
Graduate           4716
Junior college     3668
No answer           143
Don't know           30
Name: Rs highest degree, dtype: int64


Lt high school    23011
High school       17532
Not applicable    11558
Bachelor           4340
Don't know         3910
Graduate           2902
Junior college      965
No answer           596
Name: Fathers highest degree, dtype: int64


High school       25217
Lt high school    23662
Bachelor           4167
Not applicable     4039
Don't know         3469
Junior college     1911
Graduate           1662
No answer           687
Name: Mothers highest degree, dtype: int64


Not applicable             61113
Business administration      507
Education                    366
No answer                    239
Engineering                  185
                           ...
Textiles/cloth                 2
Parks and recreation           1
Dance                          1
Gerontology                    1
Mechanics/machine trade        1
Name: The field of degree r earned, Length: 83, dtype: int64

With so many not applicable entries for the field of degree, it is more appropriate to remove them from the analysis.

In [31]:
education.drop(['The field of degree r earned'], axis=1, inplace=True)

In [32]:
education.rename(columns = {'Highest year of school completed':'school_years',
                            'Highest year school completed, father':'school_years_dad', 
                            'Highest year school completed, mother':'school_years_mom',
                            'Rs highest degree':'degree',
                            'Fathers highest degree':'degree_dad',
                            'Mothers highest degree': 'degree_mom'}, inplace=True)

Encode nan information as a placeholder so that it can be easily removed later in the analysis.

In [35]:
education.loc[(education['school_years']=='No answer')|
              (education['school_years']=='Not applicable')|
              (education['school_years']== "Don't know"), 'school_years']= -9
education.loc[(education['school_years_dad']=='No answer')|
              (education['school_years_dad']=='Not applicable')|
              (education['school_years_dad']== "Don't know"), 'school_years_dad']= -9
education.loc[(education['school_years_mom']=='No answer')|
              (education['school_years_mom']=='Not applicable')|
              (education['school_years_mom']== "Don't know"), 'school_years_mom']= -9

In [36]:
education.head()

,year,id,school_years,school_years_dad,school_years_mom,degree,degree_dad,degree_mom
0,1972,0,16,10,-9,Bachelor,Lt high school,Not applicable
1,1972,1,10,8,8,Lt high school,Lt high school,Lt high school
2,1972,2,12,8,8,High school,Lt high school,Lt high school
3,1972,3,17,16,12,Bachelor,Bachelor,High school
4,1972,4,12,8,8,High school,Lt high school,Lt high school

In [37]:
education = pd.get_dummies(data= education, columns=['degree', 'degree_dad', 'degree_mom'])

In [38]:
education = weight(education)

In [39]:
education.to_csv('data/cleaned_and_weighted/education.csv')

##### Employment

In [40]:
employment = unzip('Employment')
employment.columns

Index(['year', 'Workers need strong unions',
       'Does r or spouse belong to union', 'If rich, continue or stop working',
       'Job or housework', 'Could r find equally good job',
       'Is r likely to lose job', 'Number of hours usually work a week',
       'Labor force status', 'id',
       'Rs occupational prestige score using threshold method (2010)'],
      dtype='object')

In [41]:
for col in employment.columns:
    print(employment[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Not applicable       57399
Disagree              2911
Agree                 2546
Strongly disagree      751
Strongly agree         736
Dont know              355
No answer              116
Name: Workers need strong unions, dtype: int64


Neither belongs        36808
Not applicable         20003
R belongs               4854
Spouse belongs          2217
R and spouse belong      680
No answer                197
Don't know                55
Name: Does r or spouse belong to union, dtype: int64


Not applicable      38978
Continue working    17715
Stop working         7534
No answer             314
Don't know            273
Name: If rich, continue or stop working, dtype: int64


Very satisfied       22417
Mod. satisfied       17723
Not applicable       16476
A little dissat       4611
Very dissatisfied     1939
No answer             1439
Don't know             209
Name: Job or housework, dtype: int64


Not applicable    42490
Not easy           8957
Somewhat easy      7285
Very easy          5515
Don't know          364
No answer           203
Name: Could r find equally good job, dtype: int64


Not applicable         42490
Not likely             13954
Not too likely          5618
Fairly likely           1244
Very likely             1040
Don't know               277
No answer                186
Leaving labor force        5
Name: Is r likely to lose job, dtype: int64


Not applicable    63482
40                  519
No answer            96
50                   96
45                   63
                  ...
13                    1
26                    1
57                    1
66                    1
2                     1
Name: Number of hours usually work a week, Length: 64, dtype: int64


Working fulltime    31892
Keeping house       10176
Retired              9121
Working parttime     6719
Unempl, laid off     2179
School               1998
Temp not working     1363
Other                1345
No answer              21
Name: Labor force status, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


0     4765
55    3375
29    3057
16    2694
50    2584
      ...
70      72
77      70
93      46
67      28
41      20
Name: Rs occupational prestige score using threshold method (2010), Length: 93, dtype: int64

In [42]:
employment.drop(['Is r likely to lose job', 'Could r find equally good job', 
                 'Job or housework', 'If rich, continue or stop working', 
                 'Workers need strong unions'], axis=1, inplace = True)

In [43]:
employment.rename(columns= {'Does r or spouse belong to union': 'union',
                            'Number of hours usually work a week': 'wrk_hrs',
                            'Labor force status': 'job_status',
                            'Rs occupational prestige score using threshold method (2010)': 'prestige'}, 
                  inplace = True)

In [44]:
employment.loc[(employment['union']=='Neither belongs', 'union')]= 'non-member'
employment.loc[(employment['union']=='R belongs')|
               (employment['union']=='Spouse belongs')|
               (employment['union']=='R and spouse belong'), 'union']= 'member'

In [45]:
employment.head()

   year           union         wrk_hrs        job_status  id  prestige
0  1972  Not applicable  Not applicable  Working fulltime   0        49
1  1972  Not applicable  Not applicable           Retired   1        62
2  1972  Not applicable  Not applicable  Working parttime   2        69
3  1972  Not applicable  Not applicable  Working fulltime   3        85
4  1972  Not applicable  Not applicable     Keeping house   4        21

In [46]:
employment = weight(employment)

In [47]:
employment.to_csv('data/cleaned_and_weighted/employment.csv')

###### Family Values

In [48]:
fam_vals = unzip('Family_Values')
fam_vals.columns

Index(['year', 'Better for man to work, woman tend home',
       'Preschool kids suffer if mother works',
       'Favor spanking to discipline child', 'Ideal number of children',
       'Rs kids living standard compared to r',
       'Rs living standard compared to parents', 'To help others',
       'To work hard', 'To think for ones self', 'To be well liked or popular',
       'To obey', 'Highest year school completed, mother',
       'Highest year school completed, father', 'Number of children',
       'Number of brothers and sisters', 'id',
       'Number of family generations in household'],
      dtype='object')

In [49]:
for col in fam_vals.columns:
    print(fam_vals[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Not applicable       34111
Disagree             13061
Agree                 8992
Strongly disagree     5479
Strongly agree        2543
Don't know             534
No answer               94
Name: Better for man to work, woman tend home, dtype: int64


Not applicable       34111
Disagree             13640
Agree                10220
Strongly disagree     3588
Strongly agree        2602
Don't know             568
No answer               85
Name: Preschool kids suffer if mother works, dtype: int64


Not applicable       37644
Agree                12555
Strongly agree        7077
Disagree              5259
Strongly disagree     1896
Don't know             317
No answer               66
Name: Favor spanking to discipline child, dtype: int64


Not applicable     23504
2                  20400
3                   9503
4                   4449
AS MANY AS WANT     3067
DK,NA               1322
1                    952
5                    655
0                    471
6                    312
SEVEN+               179
Name: Ideal number of children, dtype: int64


Not applicable               44520
Somewhat better               5561
Much better                   5026
About the same                3688
Somewhat worse                2436
No children -volunteered-     2131
Much worse                     864
Don't know                     539
No answer                       49
Name: Rs kids living standard compared to r, dtype: int64


Not applicable     44520
Much better         6446
Somewhat better     6005
About the same      4448
Somewhat worse      2269
Much worse           790
Don't know           307
No answer             29
Name: Rs living standard compared to parents, dtype: int64


Not applicable     37431
3rd important       9099
2nd important       8531
4th important       4617
Most important      4017
Least important      693
No answer            426
Name: To help others, dtype: int64


Not applicable     37431
2nd important       9504
3rd important       8552
Most important      5136
4th important       3243
Least important      505
No answer            443
Name: To work hard, dtype: int64


Not applicable     37431
Most important     12982
2nd important       4956
4th important       3852
3rd important       3790
Least important     1360
No answer            443
Name: To think for ones self, dtype: int64


Not applicable     37431
Least important    20132
4th important       5057
3rd important       1025
2nd important        554
No answer            443
Most important       172
Name: To be well liked or popular, dtype: int64


Not applicable     37431
4th important      10175
Most important      4638
3rd important       4477
Least important     4252
2nd important       3398
No answer            443
Name: To obey, dtype: int64


12                19896
8                  6619
Don't know         6435
16                 4239
Not applicable     4048
14                 3920
10                 2873
6                  2174
11                 2165
13                 1835
9                  1789
0                  1473
7                  1207
5                   959
18                  931
4                   888
3                   844
15                  818
No answer           461
20                  381
17                  318
2                   308
19                  139
1                    94
Name: Highest year school completed, mother, dtype: int64


12                13242
Not applicable    11562
Don't know         7071
8                  6431
16                 4434
14                 2777
6                  2477
10                 2076
9                  1510
11                 1423
13                 1336
0                  1284
3                  1281
7                  1239
18                 1150
4                  1129
5                  1086
20                 1066
15                  583
17                  455
2                   381
19                  351
No answer           344
1                   126
Name: Highest year school completed, father, dtype: int64


0                17657
2                16072
1                10304
3                10099
4                 5231
5                 2398
6                 1235
Eight or more      941
7                  676
Dk na              201
Name: Number of children, dtype: int64


2                 11796
1                 10624
3                  9945
4                  7268
5                  5242
6                  3996
7                  3421
0                  3142
8                  2241
9                  1652
Not applicable     1518
10                 1139
11                  884
12                  590
13                  407
14                  225
15                  148
No answer           115
16                  112
Don't know           63
17                   53
21                   50
18                   44
20                   31
19                   26
22                   17
23                   16
27                    7
25                    7
31                    6
24                    6
26                    6
30                    4
32                    2
29                    2
33                    2
35                    1
68                    1
55                    1
28                    1
34                    1
37                    1
43                    1
Name: Number of brothers and sisters, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


1 gen                  33066
2 gens, children       24010
Not applicable          5356
3 gens, grandchldrn      981
3 gens, chld, par        496
2 gens, parents          476
2 gens, grandchldrn      401
4 gens                    28
Name: Number of family generations in household, dtype: int64

In [50]:
fam_vals.rename(columns= {'Better for man to work, woman tend home': 'trad_roles', 
                          'Preschool kids suffer if mother works': 'mom_wrk_kids_suffer', 
                          'Favor spanking to discipline child': 'spanking',
                          'Ideal number of children': 'bst_num_chld', 
                          'To help others': 'tch_to_help',
                          'To work hard': 'tch_to_wrk', 
                          'To think for ones self': 'tch_ind', 
                          'To be well liked or popular': 'tch_pop',
                          'To obey': 'tch_obey', 
                          'Number of children': 'num_chld',
                          'Number of family generations in household': 'num_gen'}, inplace=True)

In [51]:
fam_vals.drop(['Rs kids living standard compared to r', 'Rs living standard compared to parents', 
               'Highest year school completed, mother', 'Highest year school completed, father', 
               'Number of brothers and sisters'], axis=1, inplace=True)

In [52]:
fam_vals.loc[fam_vals['num_gen']=='1 gen', 'num_gen']= 1
fam_vals.loc[(fam_vals['num_gen']=='2 gens, children')|
             (fam_vals['num_gen']=='2 gens, parents')|
             (fam_vals['num_gen']=='2 gens, grandchldrn'), 'num_gen']= 2
fam_vals.loc[(fam_vals['num_gen']=='3 gens, grandchldrn')|
             (fam_vals['num_gen']=='3 gens, chld, par'), 'num_gen']= 3
fam_vals.loc[fam_vals['num_gen']=='4 gens', 'num_gen']= 4

In [53]:
fam_vals.head()

,year,trad_roles,mom_wrk_kids_suffer,spanking,bst_num_chld,tch_to_help,tch_to_wrk,tch_ind,tch_pop,tch_obey,num_chld,id,num_gen
0,1972,Not applicable,Not applicable,Not applicable,2,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,0,0,Not applicable
1,1972,Not applicable,Not applicable,Not applicable,3,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,5,1,Not applicable
2,1972,Not applicable,Not applicable,Not applicable,2,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,4,2,Not applicable
3,1972,Not applicable,Not applicable,Not applicable,2,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,0,3,Not applicable
4,1972,Not applicable,Not applicable,Not applicable,2,Not applicable,Not applicable,Not applicable,Not applicable,Not applicable,2,4,Not applicable

In [54]:
fam_vals = weight(fam_vals)

In [55]:
fam_vals.to_csv('data/cleaned_and_weighted/fam_vals.csv')

###### Gender and Sexuality

In [56]:
gender = unzip('Gender_and_Sexuality')
gender.columns

Index(['year', 'Should hire and promote women                            ',
       'For or against preferential hiring of women      ',
       'Better for man to work, woman tend home',
       'Preschool kids suffer if mother works',
       'Sex before marriage -- teens 14-16', 'Sex before marriage',
       'Divorce laws', 'Sex education in public schools',
       'Birth control to teenagers 14-16', 'Women not suited for politics',
       'id', 'Homosexuals should have right to marry'],
      dtype='object')

In [57]:
for col in gender.columns:
    print(gender[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Not applicable                55917
Agree                          4092
Disagree                       1674
Strongly agree                 1639
Neither agree nor disagree      958
Strongly disagree               351
No answer                       123
Dont know                        60
Name: Should hire and promote women                            , dtype: int64


Not applicable      56391
Strongly against     3105
Against              2263
Strongly for         1739
For                   862
Don't know            371
No answer              83
Name: For or against preferential hiring of women      , dtype: int64


Not applicable       34111
Disagree             13061
Agree                 8992
Strongly disagree     5479
Strongly agree        2543
Don't know             534
No answer               94
Name: Better for man to work, woman tend home, dtype: int64


Not applicable       34111
Disagree             13640
Agree                10220
Strongly disagree     3588
Strongly agree        2602
Don't know             568
No answer               85
Name: Preschool kids suffer if mother works, dtype: int64


Not applicable      37644
Always wrong        18310
Almst always wrg     4362
Sometimes wrong      2790
Not wrong at all     1306
Don't know            327
No answer              75
Name: Sex before marriage -- teens 14-16, dtype: int64


Not applicable      25002
Not wrong at all    17060
Always wrong        10235
Sometimes wrong      7777
Almst always wrg     3506
Don't know           1046
No answer             188
Name: Sex before marriage, dtype: int64


Not applicable    25116
More difficult    18252
Easier            11079
Stay same          8164
Don't know         2068
No answer           135
Name: Divorce laws, dtype: int64


Favor             31142
Not applicable    28148
Oppose             4597
Don't know          819
No answer            99
Depends               9
Name: Sex education in public schools, dtype: int64


Not applicable       38325
Agree                 8107
Strongly agree        6937
Disagree              5893
Strongly disagree     4811
Don't know             662
No answer               79
Name: Birth control to teenagers 14-16, dtype: int64


Not applicable    28283
Disagree          24748
Agree              9807
Not sure           1875
No answer           101
Name: Women not suited for politics, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


Not applicable                51062
Strongly disagree              3635
Strongly agree                 3093
Agree                          2966
Disagree                       2086
Neither agree nor disagree     1684
Cant choose                     202
No answer                        86
Name: Homosexuals should have right to marry, dtype: int64

In [58]:
gender.drop(['Should hire and promote women                            ', 
             'For or against preferential hiring of women      ', 
             'Better for man to work, woman tend home', 'Preschool kids suffer if mother works',
             'Sex before marriage -- teens 14-16', 'Birth control to teenagers 14-16'], 
            axis = 1, inplace = True)

In [59]:
gender.rename(columns ={'Sex before marriage':'sex_before_marr',
                        'Divorce laws': 'divorce', 
                        'Sex education in public schools':'sex_ed',
                        'Women not suited for politics': 'no_women_pol',
                        'Homosexuals should have the right to marry':'gay_marr'})

,year,sex_before_marr,divorce,sex_ed,no_women_pol,id,Homosexuals should have right to marry
0,1972,Not wrong at all,Not applicable,Not applicable,Not applicable,0,Not applicable
1,1972,Always wrong,Not applicable,Not applicable,Not applicable,1,Not applicable
2,1972,Always wrong,Not applicable,Not applicable,Not applicable,2,Not applicable
3,1972,Always wrong,Not applicable,Not applicable,Not applicable,3,Not applicable
4,1972,Sometimes wrong,Not applicable,Not applicable,Not applicable,4,Not applicable
...,...,...,...,...,...,...,...
64809,2018,Always wrong,No answer,Favor,Disagree,64809,Strongly agree
64810,2018,Not wrong at all,More difficult,Favor,Disagree,64810,Strongly agree
64811,2018,Not applicable,Not applicable,Not applicable,Not applicable,64811,Agree
64812,2018,Not wrong at all,More difficult,Favor,Disagree,64812,Not applicable
64813,2018,Don't know,More difficult,Favor,Disagree,64813,Neither agree nor disagree

In [60]:
gender = weight(gender)
gender.to_csv('data/cleaned_and_weighted/gender.csv')

###### Identity

In [61]:
pers_id = unzip('Identity')
pers_id.columns

Index(['year', 'id', 'Age of respondent', 'Respondents sex',
       'Race of respondent', 'Region of interview'],
      dtype='object')

In [62]:
for col in pers_id.columns:
    print(pers_id[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


30            1450
28            1432
32            1431
34            1422
27            1391
              ...
85             197
86             186
87             148
88             121
Don't know       1
Name: Age of respondent, Length: 74, dtype: int64


Female    36200
Male      28614
Name: Respondents sex, dtype: int64


White    52033
Black     9187
Other     3594
Name: Race of respondent, dtype: int64


South atlantic     12552
E. nor. central    11890
Middle atlantic     9289
Pacific             8750
W. sou. central     6200
W. nor. central     4684
E. sou. central     4284
Mountain            4065
New england         3100
Name: Region of interview, dtype: int64

In [63]:
pers_id.rename(columns={'Age of respondent':'age', 
                      'Respondents sex':'sex', 
                      'Race of respondent':'race',
                      'Region of interview':'region'}, inplace = True)

In [64]:
pers_id = weight(pers_id)

In [65]:
pers_id.to_csv('data/cleaned_and_weighted/pers_id.csv')

###### Lifestyle

In [66]:
lifestyle = unzip('Lifestyle')
lifestyle.columns

Index(['year', 'Hours per day watching tv', 'How often does r read newspaper',
       'Does r or spouse hunt', 'Have gun in home', 'Spend evening at bar',
       'Spend evening with friends', 'Spend evening with neighbor',
       'Spend evening with relatives', 'Is life exciting or dull',
       'General happiness', 'R's age when 1st child born', 'Age of respondent',
       'Number of children', 'Marital status',
       'Number of hours usually work a week', 'id',
       'Does r own or rent home?'],
      dtype='object')

In [67]:
for col in lifestyle.columns:
    print(lifestyle[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Not applicable    25608
2                 10328
1                  7786
3                  7126
4                  5074
5                  2578
0                  2084
6                  1713
8                   817
10                  396
7                   377
12                  279
No answer           189
9                    82
15                   57
Don't know           55
14                   53
20                   46
24                   36
16                   35
11                   33
13                   26
18                   21
17                    5
22                    5
21                    4
23                    1
Name: Hours per day watching tv, dtype: int64


Not applicable       23959
Everyday             18150
Few times a week      8358
Once a week           5258
Never                 4652
Less than once wk     4390
No answer               47
Name: How often does r read newspaper, dtype: int64


Not applicable    29529
Neither           28132
Resp               4395
Spouse             1887
Both                799
No answer            68
Don't know            4
Name: Does r or spouse hunt, dtype: int64


Not applicable    25042
No                23511
Yes               15659
Refused             458
No answer           103
Don't know           41
Name: Have gun in home, dtype: int64


Not applicable      26615
Never               18926
Sev times a year     4621
Once a year          4491
Once a month         3871
Sev times a week     2858
Sev times a mnth     2793
Almost daily          470
Don't know             87
No answer              82
Name: Spend evening at bar, dtype: int64


Not applicable      26615
Once a month         8390
Sev times a mnth     7722
Sev times a week     7136
Sev times a year     6985
Never                3816
Once a year          2819
Almost daily         1193
No answer              73
Don't know             65
Name: Spend evening with friends, dtype: int64


Not applicable      26615
Never               10749
Sev times a week     6808
Once a month         5616
Sev times a year     4765
Sev times a mnth     4389
Once a year          3556
Almost daily         2168
Don't know             78
No answer              70
Name: Spend evening with neighbor, dtype: int64


Not applicable      26615
Sev times a week    10092
Sev times a mnth     6978
Sev times a year     6777
Once a month         6204
Almost daily         3711
Once a year          2639
Never                1675
No answer              77
Don't know             46
Name: Spend evening with relatives, dtype: int64


Not applicable    25045
Routine           18757
Exciting          18508
Dull               1977
Don't know          297
No answer           230
Name: Is life exciting or dull, dtype: int64


Pretty happy      33563
Very happy        18823
Not too happy      7668
Not applicable     4383
No answer           338
Don't know           39
Name: General happiness, dtype: int64


Not applicable    40901
21                 2152
20                 2006
19                 1835
22                 1674
18                 1564
25                 1544
23                 1526
24                 1435
26                 1186
27                 1122
17                 1020
28                  995
30                  920
29                  792
16                  633
32                  545
31                  514
33                  389
35                  323
34                  283
15                  218
36                  199
No answer           190
37                  150
38                  124
39                   95
40                   89
14                   86
Don't know           65
41                   49
42                   46
13                   36
43                   18
45                   15
44                   13
47                   12
46                   11
12                    8
50                    7
51                    4
49                    4
48                    4
52                    3
9                     2
53                    1
55                    1
56                    1
54                    1
65                    1
57                    1
11                    1
Name: R's age when 1st child born, dtype: int64


30            1450
28            1432
32            1431
34            1422
27            1391
              ...
85             197
86             186
87             148
88             121
Don't know       1
Name: Age of respondent, Length: 74, dtype: int64


0                17657
2                16072
1                10304
3                10099
4                 5231
5                 2398
6                 1235
Eight or more      941
7                  676
Dk na              201
Name: Number of children, dtype: int64


Married          34129
Never married    13837
Divorced          8379
Widowed           6200
Separated         2242
No answer           27
Name: Marital status, dtype: int64


Not applicable    63482
40                  519
No answer            96
50                   96
45                   63
                  ...
13                    1
26                    1
57                    1
66                    1
2                     1
Name: Number of hours usually work a week, Length: 64, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


Not applicable      34304
Own or is buying    18902
Pays rent           10604
Other                 593
No answer             398
Don't know             13
Name: Does r own or rent home?, dtype: int64

In [68]:
lifestyle.rename(columns = {'Hours per day watching tv':'hrs_tv',
                            'How often does r read newspaper':'paper',
                            'Have gun in home':'gun',
                            'Is life exciting or dull':'life',
                            'General happiness':'happy',
                            "R's age when 1st child born":'age_at_frst_chld',
                            'Marital status':'married',
                            'Does r own or rent home?':'rent_or_own'}, inplace = True)

In [69]:
lifestyle.drop(['Does r or spouse hunt', 'Spend evening at bar', 
                'Spend evening with friends', 'Spend evening with neighbor', 
                'Spend evening with relatives', 'Age of respondent', 'Number of children',
                'Number of hours usually work a week'], axis=1, inplace=True)

In [70]:
lifestyle = weight(lifestyle)
lifestyle.to_csv('data/cleaned_and_weighted/lifestyle.csv')

###### Opinions

In [71]:
opinions = unzip('Opinions')
opinions.columns

Index(['year', 'Foreign aid', 'Welfare', 'Highways and bridges',
       'Social security', 'Mass transportation', 'Parks and recreation',
       'Assistance for childcare', 'Supporting scientific research        ',
       'Military, armaments, and defense',
       'Improving the conditions of blacks', 'id', 'Space exploration program',
       'Improving & protecting environment',
       'Improving & protecting nations health',
       'Solving problems of big cities', 'Halting rising crime rate',
       'Dealing with drug addiction', 'Improving nations education system',
       'Developing alternative energy sources'],
      dtype='object')

In [72]:
for col in opinions.columns:
    print(opinions[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Not applicable    27662
Too much          24317
About right        8477
Too little         2355
Don't know         1891
No answer           112
Name: Foreign aid, dtype: int64


Not applicable    27662
Too much          16980
About right       11144
Too little         7376
Don't know         1525
No answer           127
Name: Welfare, dtype: int64


About right       21903
Too little        18568
Not applicable    17581
Too much           4635
Don't know         1823
No answer           304
Name: Highways and bridges, dtype: int64


Too little        25867
Not applicable    17581
About right       16158
Too much           2732
Don't know         2170
No answer           306
Name: Social security, dtype: int64


About right       22030
Not applicable    17581
Too little        16482
Too much           4390
Don't know         4034
No answer           297
Name: Mass transportation, dtype: int64


About right       27439
Not applicable    17581
Too little        15116
Too much           2780
Don't know         1637
No answer           261
Name: Parks and recreation, dtype: int64


Not applicable    39634
Too little        13273
About right        8460
Don't know         1738
Too much           1675
No answer            34
Name: Assistance for childcare, dtype: int64


Not applicable    45269
About right        8451
Too little         7579
Too much           2203
Don't know         1288
No answer            24
Name: Supporting scientific research        , dtype: int64


Not applicable    27662
About right       15030
Too much          11385
Too little         8781
Don't know         1829
No answer           127
Name: Military, armaments, and defense, dtype: int64


Not applicable    27662
About right       15164
Too little        12141
Too much           6506
Don't know         3113
No answer           228
Name: Improving the conditions of blacks, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


Not applicable    27662
Too much          15584
About right       14362
Too little         4750
Don't know         2386
No answer            70
Name: Space exploration program, dtype: int64


Not applicable    27662
Too little        21658
About right       10626
Too much           3132
Don't know         1631
No answer           105
Name: Improving & protecting environment, dtype: int64


Not applicable    27662
Too little        23779
About right        9786
Too much           2317
Don't know         1161
No answer           109
Name: Improving & protecting nations health, dtype: int64


Not applicable    27662
Too little        16642
About right       10761
Too much           5216
Don't know         4388
No answer           145
Name: Solving problems of big cities, dtype: int64


Not applicable    27662
Too little        23971
About right        9384
Too much           2180
Don't know         1466
No answer           151
Name: Halting rising crime rate, dtype: int64


Not applicable    27662
Too little        22005
About right       10179
Too much           2994
Don't know         1819
No answer           155
Name: Dealing with drug addiction, dtype: int64


Not applicable    27662
Too little        23423
About right       10183
Too much           2491
Don't know          946
No answer           109
Name: Improving nations education system, dtype: int64


Not applicable    53043
Too little         6691
About right        3542
Too much           1027
Don't know          505
No answer             6
Name: Developing alternative energy sources, dtype: int64

In [74]:
opinions = weight(opinions)

In [75]:
opinions.to_csv('data/cleaned_and_weighted/opinions.csv')

###### Race Relations

In [6]:
race = unzip('Race_Relations')
race.columns

Index(['year', 'Whites hurt by aff. action', 'Hard working - lazy',
       'Hard working - lazy.1', 'Rich - poor', 'Rich - poor.1',
       'Should govt aid blacks?', 'Differences due to lack of will',
       'Differences due to lack of education',
       'Differences due to inborn disability',
       'Differences due to discrimination',
       'Blacks overcome prejudice without favors ',
       'Favor preference in hiring blacks', 'Any opp. race in neighborhood',
       'Favor law against racial intermarriage',
       'Improving the conditions of blacks', 'id',
       'Number of immigrants nowadays should be'],
      dtype='object')

In [7]:
for col in race.columns:
    print(race[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Not applicable     45027
Somewhat likely     8526
Not very likely     6999
Very likely         3483
Dont know            642
No answer            137
Name: Whites hurt by aff. action, dtype: int64


Not applicable    43808
4                  9405
5                  4069
3                  2593
6                  1842
2                   988
Lazy                726
Hardworking         602
Dont know           542
No answer           192
98                   26
99                   21
Name: Hard working - lazy, dtype: int64


Not applicable    43808
4                  9468
3                  4844
2                  2398
5                  1702
Hardworking        1290
Dont know           453
6                   441
Lazy                195
No answer           177
99                   21
98                   17
Name: Hard working - lazy.1, dtype: int64


Not applicable    44189
5                  8006
4                  5502
6                  4077
3                  1148
Poor                873
Dont know           501
2                   292
No answer           127
Rich                 75
98                   16
99                    8
Name: Rich - poor, dtype: int64


Not applicable    44189
4                  9997
3                  5545
2                  1803
5                  1422
Rich                991
Dont know           425
6                   221
No answer           123
Poor                 80
98                   11
99                    7
Name: Rich - poor.1, dtype: int64


Not applicable          30681
Agree with both         10160
No special treatment     9925
4                        6311
Govt help blks           3319
2                        3159
Don't know               1096
No answer                 163
Name: Should govt aid blacks?, dtype: int64


Not applicable    34312
Yes               14847
No                13914
Don't know         1567
No answer           174
Name: Differences due to lack of will, dtype: int64


Not applicable    34312
No                14990
Yes               14465
Don't know          934
No answer           113
Name: Differences due to lack of education, dtype: int64


Not applicable    34312
NO                25588
YES                3859
Don't know          942
No answer           113
Name: Differences due to inborn disability, dtype: int64


Not applicable    34312
No                17309
Yes               11703
Don't know         1353
No answer           137
Name: Differences due to discrimination, dtype: int64


Not applicable                44647
Agree strongly                 8228
Agree somewhat                 5623
Neither agree nor disagree     2642
Disagree somewhat              1932
Disagree strongly              1395
Don't know                      267
No answer                        80
Name: Blacks overcome prejudice without favors , dtype: int64


Not applicable           44647
Strongly oppose pref     10076
Oppose pref               5305
Strongly support pref     2122
Support pref              1441
Don't know                1031
No answer                  192
Name: Favor preference in hiring blacks, dtype: int64


Yes               34000
No                22567
Not applicable     5470
Don't know         2509
No answer           268
Name: Any opp. race in neighborhood, dtype: int64


Not applicable    35155
No                22155
Yes                6629
Don't know          736
No answer           139
Name: Favor law against racial intermarriage, dtype: int64


Not applicable    27662
About right       15164
Too little        12141
Too much           6506
Don't know         3113
No answer           228
Name: Improving the conditions of blacks, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


Not applicable              52733
Remain the same as it is     4491
Reduced a lot, or            2801
Reduced a little             2718
Increased a little           1193
Increased a lot               570
Don't know                    264
No answer                      44
Name: Number of immigrants nowadays should be, dtype: int64

Because of the ways in which these variables were coded, many of them are either redundant with other questions, or difficult to gain meaningful information from.

In [10]:
race.drop(['Hard working - lazy', 'Hard working - lazy.1', 
           'Rich - poor', 'Rich - poor.1', 'Blacks overcome prejudice without favors ',
           'Any opp. race in neighborhood', 'Favor law against racial intermarriage', 
           'Improving the conditions of blacks'], axis = 1, inplace = True)

In [11]:
race.loc[race['Should govt aid blacks?']=='Agree with both', 'Should govt aid blacks?']= 'no opinion'
race.loc[race['Should govt aid blacks?']=='No special treatment', 'Should govt aid blacks?']= 'strongly oppose'
race.loc[race['Should govt aid blacks?']== 4, 'Should govt aid blacks?']= 'oppose'
race.loc[race['Should govt aid blacks?']=='Govt help blks', 'Should govt aid blacks?']= 'strongly favor'
race.loc[race['Should govt aid blacks?']== 2, 'Should govt aid blacks?']= 'favor'
race.loc[race['Should govt aid blacks?']=="Don't know", 'Should govt aid blacks?']= 'no opinion'
race.loc[race['Should govt aid blacks?']=="No answer", 'Should govt aid blacks?']= 'no opinion'

In [13]:
race = weight(race)

In [14]:
race.to_csv('data/cleaned_and_weighted/race.csv')

###### Religion

In [15]:
religion = unzip('Religion')
religion.columns

Index(['year', 'id', 'Rs religious preference',
       'How often r attends religious services', 'Strength of affiliation',
       'How often does r pray', 'Bible prayer in public schools'],
      dtype='object')

In [16]:
for col in religion.columns:
    print(religion[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


Protestant                 37117
Catholic                   15674
None                        7797
Jewish                      1285
Other                       1086
Christian                    791
No answer                    258
Buddhism                     198
Moslem/islam                 153
Inter-nondenominational      136
Orthodox-christian           118
Hinduism                     100
Other eastern                 39
Don't know                    31
Native american               31
Name: Rs religious preference, dtype: int64


Every week          12686
Never               11528
Once a year          8498
Sevrl times a yr     8003
2-3x a month         5713
More thn once wk     4884
Lt once a year       4844
Once a month         4552
Nrly every week      3511
Dk,na                 595
Name: How often r attends religious services, dtype: int64


Not very strong    23738
Strong             22652
No religion         7629
Somewhat strong     5736
Not applicable      3134
No answer           1589
Don't know           336
Name: Strength of affiliation, dtype: int64


Not applicable          28586
Once a day              10746
Several times a day      9881
Lt once a week           5755
Several times a week     4359
Never                    2598
Once a week              2474
No answer                 314
Don't know                101
Name: How often does r pray, dtype: int64


Not applicable    29618
Disapprove        20141
Approve           13601
Don't know         1385
No answer            69
Name: Bible prayer in public schools, dtype: int64

In [19]:
religion.drop(['Bible prayer in public schools'], axis = 1, inplace = True)

In [20]:
religion = weight(religion)

ValueError: operands could not be broadcast together with shape (646691,) (64814,)

In [18]:
religion.to_csv('data/cleaned_and_weighted/religion.csv')

###### Socioeconomic Status

In [21]:
ses = unzip('SES')
ses.columns

Index(['year', 'Rs income in constant $', 'Family income in constant $',
       'Standard of living of r will improve',
       'Rs kids living standard compared to r',
       'Rs living standard compared to parents', 'Opinion of family income',
       'Change in financial situation',
       'Satisfaction with financial situation',
       'Rs self ranking of social position', 'id',
       'Rs occupational prestige score using threshold method (2010)'],
      dtype='object')

In [22]:
for col in ses.columns:
    print(ses[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


0.00         26927
25582.50       301
18476.25       222
31267.50       198
15633.75       193
             ...
56405.00        12
2951.00         12
135131.00        7
68600.00         7
74970.00         6
Name: Rs income in constant $, Length: 603, dtype: int64


0.00        6521
25582.50     394
38373.75     360
32761.00     348
27793.00     345
            ...
2409.75        9
2951.00        9
2331.00        8
2695.00        8
444.00         6
Name: Family income in constant $, Length: 624, dtype: int64


Not applicable       42956
Agree                10388
Disagree              3725
Strongly agree        3646
Neither               3132
Strongly disagree      739
Cant choose            177
No answer               51
Name: Standard of living of r will improve, dtype: int64


Not applicable               44520
Somewhat better               5561
Much better                   5026
About the same                3688
Somewhat worse                2436
No children -volunteered-     2131
Much worse                     864
Don't know                     539
No answer                       49
Name: Rs kids living standard compared to r, dtype: int64


Not applicable     44520
Much better         6446
Somewhat better     6005
About the same      4448
Somewhat worse      2269
Much worse           790
Don't know           307
No answer             29
Name: Rs living standard compared to parents, dtype: int64


Average              29349
Below average        14626
Above average        11167
Not applicable        4383
Far below average     3406
Far above average     1238
Don't know             489
No answer              156
Name: Opinion of family income, dtype: int64


Stayed same       23874
Better            22585
Worse             13586
Not applicable     4383
No answer           212
Don't know          174
Name: Change in financial situation, dtype: int64


More or less      26619
Satisfied         17595
Not at all sat    15966
Not applicable     4383
No answer           130
Don't know          121
Name: Satisfaction with financial situation, dtype: int64


Not applicable    46678
5                  6190
4                  2527
3                  2274
6                  1947
7                  1402
Top                1038
8                   756
2                   695
Don't know          406
No answer           382
Bottom              298
9                   221
Name: Rs self ranking of social position, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


0     4765
55    3375
29    3057
16    2694
50    2584
      ...
70      72
77      70
93      46
67      28
41      20
Name: Rs occupational prestige score using threshold method (2010), Length: 93, dtype: int64

In [23]:
ses.drop(['Rs income in constant $', 'Standard of living of r will improve', 
          'Rs kids living standard compared to r', 'Rs living standard compared to parents', 
          'Change in financial situation', 'Rs occupational prestige score using threshold method (2010)'], 
         axis = 1, inplace = True)

In [24]:
ses = weight(ses)

In [ ]:
ses.to_csv('data/cleaned_and_weighted/ses.csv')

###### Systems

In [25]:
systems = unzip('Systems')
systems.columns

Index(['year', 'Confidence in congress', 'Confidence in scientific community',
       'Confid. in united states supreme court', 'Confidence in television',
       'Confidence in medicine', 'Confidence in press',
       'Confidence in organized labor', 'Confid. in exec branch of fed govt',
       'Confidence in education', 'Confidence in organized religion',
       'Confidence in major companies',
       'Confid in banks & financial institutions', 'id',
       'Confidence in military'],
      dtype='object')

In [26]:
for col in systems.columns:
    print(systems[col].value_counts())
    print('\n')

2006    4510
1994    2992
1996    2904
2016    2867
1998    2832
2000    2817
2004    2812
2002    2765
2014    2538
2018    2348
2010    2044
2008    2023
2012    1974
1982    1860
1987    1819
1972    1613
1993    1606
1983    1599
1989    1537
1985    1534
1978    1532
1977    1530
1991    1517
1973    1504
1976    1499
1975    1490
1974    1484
1988    1481
1984    1473
1986    1470
1980    1468
1990    1372
Name: year, dtype: int64


Only some         23881
Not applicable    20759
Hardly any        13640
A great deal       5185
Don't know         1210
No answer           139
Name: Confidence in congress, dtype: int64


Not applicable    20759
Only some         20308
A great deal      17514
Don't know         3104
Hardly any         2962
No answer           167
Name: Confidence in scientific community, dtype: int64


Only some         22238
Not applicable    20760
A great deal      13436
Hardly any         6503
Don't know         1740
No answer           137
Name: Confid. in united states supreme court, dtype: int64


Only some         22979
Not applicable    20759
Hardly any        14641
A great deal       5676
Don't know          621
No answer           138
Name: Confidence in television, dtype: int64


Not applicable    20759
A great deal      19815
Only some         19766
Hardly any         3903
Don't know          459
No answer           112
Name: Confidence in medicine, dtype: int64


Only some         22578
Not applicable    20759
Hardly any        13886
A great deal       6623
Don't know          849
No answer           119
Name: Confidence in press, dtype: int64


Only some         23240
Not applicable    20759
Hardly any        13122
A great deal       5117
Don't know         2449
No answer           127
Name: Confidence in organized labor, dtype: int64


Only some         21768
Not applicable    20759
Hardly any        14033
A great deal       6938
Don't know         1190
No answer           126
Name: Confid. in exec branch of fed govt, dtype: int64


Only some         24242
Not applicable    20759
A great deal      12985
Hardly any         6165
Don't know          542
No answer           121
Name: Confidence in education, dtype: int64


Only some         21692
Not applicable    20759
A great deal      11681
Hardly any         9052
Don't know         1442
No answer           188
Name: Confidence in organized religion, dtype: int64


Only some         25916
Not applicable    20759
A great deal       9896
Hardly any         6472
Don't know         1663
No answer           108
Name: Confidence in major companies, dtype: int64


Not applicable    23747
Only some         22482
A great deal       9827
Hardly any         7917
Don't know          744
No answer            97
Name: Confid in banks & financial institutions, dtype: int64


2047     1
39558    1
12947    1
14994    1
8849     1
        ..
48445    1
46396    1
36155    1
34106    1
0        1
Name: id, Length: 64814, dtype: int64


Not applicable    20759
Only some         19935
A great deal      17745
Hardly any         5116
Don't know         1142
No answer           117
Name: Confidence in military, dtype: int64

In [ ]:
systems = weight(systems)
systems.to_csv('data/cleaned_and_weighted/systems.csv')

###### Voter Identity

In [ ]:
party = unzip('Voter_Identity')
party.columns

In [ ]:
party = party[['year', 'Political party affiliation']]

In [ ]:
party = weight(party)

In [ ]:
party.to_csv('data/cleaned_and_weighted/party.csv')